In [1]:
import numpy as np

import pandas as pd

In [2]:
df=pd.read_csv('BC.csv')

In [3]:
df.shape

(569, 32)

In [4]:
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [5]:
input=df.drop(['id','diagnosis'],axis=1)

In [6]:
out=df['diagnosis']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
xtrain,xtest,ytrain,ytest=train_test_split(input,out,test_size=0.3,random_state=48)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [10]:
rf=RandomForestClassifier(random_state=0)
rf.fit(xtrain,ytrain)

RandomForestClassifier(random_state=0)

In [11]:
ypred=rf.predict(xtest)

print('with out any dimentation reduction')
print("number of shape:",input.shape[1])
print(classification_report(ytest,ypred))

with out any dimentation reduction
number of shape: 30
              precision    recall  f1-score   support

           B       0.94      0.95      0.94        95
           M       0.93      0.92      0.93        76

    accuracy                           0.94       171
   macro avg       0.94      0.93      0.93       171
weighted avg       0.94      0.94      0.94       171

In [12]:
# scal down your data before applying pca or svd

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
inp_sc=sc.fit_transform(input)

In [14]:
from sklearn.decomposition import PCA
pc=PCA()

In [15]:
pca_input=pc.fit_transform(inp_sc)
pca_input.shape,inp_sc.shape

((569, 30), (569, 30))

In [16]:
pd.DataFrame(inp_sc).head(1)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1.097064,-2.073335,1.269934,0.984375,1.568466,3.283515,2.652874,2.532475,2.217515,2.255747,...,1.88669,-1.359293,2.303601,2.001237,1.307686,2.616665,2.109526,2.296076,2.750622,1.937015

In [17]:
pd.DataFrame(pca_input).head(3)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,9.192837,1.948583,-1.123166,3.633731,-1.195110,1.411424,2.159370,-0.398407,-0.157118,-0.877402,...,0.096515,0.068850,0.084519,-0.175256,-0.151020,-0.201503,-0.252585,-0.033914,0.045648,-0.047169
1,2.387802,-3.768172,-0.529293,1.118264,0.621775,0.028656,0.013358,0.240988,-0.711905,1.106995,...,-0.077327,-0.094578,-0.217718,0.011290,-0.170510,-0.041129,0.181270,0.032624,-0.005687,-0.001868
2,5.733896,-1.075174,-0.551748,0.912083,-0.177086,0.541452,-0.668166,0.097374,0.024066,0.454275,...,0.311067,-0.060309,-0.074291,0.102762,0.171158,0.004735,0.049569,0.047026,0.003146,0.000751

In [18]:
#eign values 
pd.DataFrame(pc.explained_variance_).round(2)

        0
0   13.30
1    5.70
2    2.82
3    1.98
4    1.65
5    1.21
6    0.68
7    0.48
8    0.42
9    0.35
10   0.29
11   0.26
12   0.24
13   0.16
14   0.09
15   0.08
16   0.06
17   0.05
18   0.05
19   0.03
20   0.03
21   0.03
22   0.02
23   0.02
24   0.02
25   0.01
26   0.01
27   0.00
28   0.00
29   0.00

In [19]:
pd.DataFrame(pc.explained_variance_)[0:1]/pd.DataFrame(pc.explained_variance_).sum()

         0
0  0.44272

In [20]:
pd.DataFrame(pc.explained_variance_ratio_)

           0
0   0.442720
1   0.189712
2   0.093932
3   0.066021
4   0.054958
5   0.040245
6   0.022507
7   0.015887
8   0.013896
9   0.011690
10  0.009797
11  0.008705
12  0.008045
13  0.005234
14  0.003138
15  0.002662
16  0.001980
17  0.001754
18  0.001649
19  0.001039
20  0.000999
21  0.000915
22  0.000811
23  0.000602
24  0.000516
25  0.000273
26  0.000230
27  0.000053
28  0.000025
29  0.000004

In [21]:
cum_var=np.cumsum(pc.explained_variance_ratio_)
(cum_var<0.95).sum()

9

In [22]:
# class session 4 jun 9 24

(569, 9)

In [31]:
pca_input_reduced=pca_input[:,:9]
pca_input_reduced.shape
xtrain,xtest,ytrain,ytest=train_test_split(pca_input_reduced,out,test_size=0.3,random_state=48)
xtrain,xtest,ytrain,ytest=train_test_split(pca_input_reduced,out,test_size=0.3,random_state=48)
rf=RandomForestClassifier(random_state=0)
rf.fit(xtrain,ytrain)
ypred=rf.predict(xtest)

print('with out any dimentation reduction')
print("number of shape:",input.shape[1])
print(classification_report(ytest,ypred))

RandomForestClassifier(random_state=0)

with out any dimentation reduction
number of shape: 30
              precision    recall  f1-score   support

           B       0.94      0.96      0.95        95
           M       0.95      0.92      0.93        76

    accuracy                           0.94       171
   macro avg       0.94      0.94      0.94       171
weighted avg       0.94      0.94      0.94       171

In [42]:
import time

t0 = time.time()

from sklearn.decomposition import TruncatedSVD
sv=TruncatedSVD(n_components=29)
svd_inp=sv.fit_transform(inp_sc)
cum_var=np.cumsum(sv.explained_variance_ratio_)
(cum_var<0.95).sum()
svd_input_reduced=svd_inp[:,:9]
svd_input_reduced.shape
xtrain,xtest,ytrain,ytest=train_test_split(svd_input_reduced,out,test_size=0.3,random_state=48)
rf=RandomForestClassifier(random_state=0)
rf.fit(xtrain,ytrain)
ypred=rf.predict(xtest)

print('with out any dimentation reduction')
print("number of shape:",input.shape[1])
print(classification_report(ytest,ypred))

t1 = time.time()

total = t1-t0
print('time taken:',total)

with out any dimentation reduction
number of shape: 30
              precision    recall  f1-score   support

           B       0.94      0.96      0.95        95
           M       0.95      0.92      0.93        76

    accuracy                           0.94       171
   macro avg       0.94      0.94      0.94       171
weighted avg       0.94      0.94      0.94       171

time taken: 0.184952974319458

In [43]:
# time could be considered for best model 
#see first igen vector
#add feature then see what are top five features 
#identiry top five features that makes principal component 1  
# igen vector create feaatures etc

In [45]:
# recommendation System 

#six types

# Popularity based recommend System 

import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [47]:
data=pd.read_csv('book-1.csv')

In [49]:
data.head()

,Unnamed: 0,userID,ISBN,bookRating,bookTitle,totalRatingCount,Location
0,0,276725,034545104X,0,Flesh Tones: A Novel,60,"tyler, texas, usa"
1,1,2313,034545104X,5,Flesh Tones: A Novel,60,"cincinnati, ohio, usa"
2,2,6543,034545104X,0,Flesh Tones: A Novel,60,"strafford, missouri, usa"
3,3,8680,034545104X,5,Flesh Tones: A Novel,60,"st. charles county, missouri, usa"
4,4,10314,034545104X,9,Flesh Tones: A Novel,60,"beaverton, oregon, usa"

In [50]:
# this un named columns

In [74]:
rating=pd.DataFrame(data.groupby(['bookTitle']).agg({'bookRating':'mean','totalRatingCount':'count'}))
rating.head()
#rating.sort_values('bookRating',ascending=False)

,bookRating,totalRatingCount
bookTitle,,
1st to Die: A Novel,3.415301,366
"A Child Called \It\"": One Child's Courage to Survive""",4.139738,229
A Cold Heart: An Alex Delaware Novel,3.112903,62
A Kiss of Shadows (Meredith Gentry Novels (Paperback)),4.013333,75
A Man in Full,2.111111,90

In [75]:
# content based recommendation system

In [80]:
datacr=pd.read_csv('movie_metadata-2.csv')
datacr.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [86]:
datacr.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [90]:
datacr[['movie_title','genres']].head()

,movie_title,genres
0,Avatar,Action|Adventure|Fantasy|Sci-Fi
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy
2,Spectre,Action|Adventure|Thriller
3,The Dark Knight Rises,Action|Thriller
4,Star Wars: Episode VII - The Force AwakensÂ ...,Documentary

In [96]:
genres=datacr['genres'].str.split('|',expand=True)
genres.head(3)

        0          1         2       3     4     5     6     7
0  Action  Adventure   Fantasy  Sci-Fi  None  None  None  None
1  Action  Adventure   Fantasy    None  None  None  None  None
2  Action  Adventure  Thriller    None  None  None  None  None

In [99]:
genres=genres.iloc[:,0:3]
genres.columns=['gen1','gen2','gen3']
genres

             gen1       gen2      gen3
0          Action  Adventure   Fantasy
1          Action  Adventure   Fantasy
2          Action  Adventure  Thriller
3          Action   Thriller      None
4     Documentary       None      None
...           ...        ...       ...
5038       Comedy      Drama      None
5039        Crime      Drama   Mystery
5040        Drama     Horror  Thriller
5041       Comedy      Drama   Romance
5042  Documentary       None      None

[5043 rows x 3 columns]

In [103]:
data2=datacr[['movie_title','content_rating','imdb_score']]

In [107]:
datafinal=pd.concat([data2,genres],axis=1)
datafinal.head()

,movie_title,content_rating,imdb_score,gen1,gen2,gen3
0,Avatar,PG-13,7.9,Action,Adventure,Fantasy
1,Pirates of the Caribbean: At World's End,PG-13,7.1,Action,Adventure,Fantasy
2,Spectre,PG-13,6.8,Action,Adventure,Thriller
3,The Dark Knight Rises,PG-13,8.5,Action,Thriller,None
4,Star Wars: Episode VII - The Force AwakensÂ ...,NaN,7.1,Documentary,None,None

In [110]:
datafinal.isnull().sum()

movie_title          0
content_rating     303
imdb_score           0
gen1                 0
gen2               633
gen3              1988
dtype: int64

In [113]:
datafinal['gen2']=datafinal['gen2'].fillna('NA')
datafinal['gen3']=datafinal['gen3'].fillna('NA')

datafinal['content_rating']=datafinal['content_rating'].fillna('NA')

In [115]:
datafinal.isnull().sum()

movie_title       0
content_rating    0
imdb_score        0
gen1              0
gen2              0
gen3              0
dtype: int64

In [117]:
datafinal=datafinal.set_index(datafinal['movie_title'])

In [120]:
datafinal=datafinal.drop('movie_title',axis=1)

KeyError: "['movie_title'] not found in axis"

In [169]:
datafinal

,content_rating,imdb_score,gen1,gen2,gen3
movie_title,,,,,
Avatar,PG-13,7.9,Action,Adventure,Fantasy
Pirates of the Caribbean: At World's End,PG-13,7.1,Action,Adventure,Fantasy
Spectre,PG-13,6.8,Action,Adventure,Thriller
The Dark Knight Rises,PG-13,8.5,Action,Thriller,NA
Star Wars: Episode VII - The Force Awakens,NA,7.1,Documentary,NA,NA
...,...,...,...,...,...
Signed Sealed Delivered,NA,7.7,Comedy,Drama,NA
The Following,TV-14,7.5,Crime,Drama,Mystery
A Plague So Pleasant,NA,6.3,Drama,Horror,Thriller
Shanghai Calling,PG-13,6.3,Comedy,Drama,Romance
My Date with Drew,PG,6.6,Documentary,NA,NA

In [122]:
# dummy encoding to find distance

In [124]:
data_final_dum=pd.get_dummies(datafinal)

In [126]:
data_final_dum.head()

,imdb_score,content_rating_Approved,content_rating_G,content_rating_GP,content_rating_M,content_rating_NA,content_rating_NC-17,content_rating_Not Rated,content_rating_PG,content_rating_PG-13,...,gen3_NA,gen3_News,gen3_Reality-TV,gen3_Romance,gen3_Sci-Fi,gen3_Short,gen3_Sport,gen3_Thriller,gen3_War,gen3_Western
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,7.9,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Pirates of the Caribbean: At World's End,7.1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Spectre,6.8,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
The Dark Knight Rises,8.5,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
Star Wars: Episode VII - The Force Awakens,7.1,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [127]:
# apply k nearest teable

In [141]:

# used K Nearest neighbour Algorithm 
from sklearn.neighbors import NearestNeighbors
cont_model=NearestNeighbors(metric='cosine')
cont_model.fit(data_final_dum)
#new_data = [[7.9]]

In [195]:
def moviecpredict(movie,count):
    data_final_dum.index=data_final_dum.index.str.strip()
    movie_title = movie
    query_vector = data_final_dum.loc[movie_title].values.reshape(1, -1)
    distances, indices = cont_model.kneighbors(query_vector, n_neighbors=count+1)
    distances,indices
    movie_titles = nearest_neighbors.tolist()
    return movie_titles

In [199]:
moviecpredict('Shanghai Calling',6)

['Avatar',
 'X-Men: Days of Future Past',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'Star Wars: Episode III - Revenge of the Sith',
 'Indiana Jones and the Last Crusade']

In [200]:
# above was content based Recommendation system

In [201]:
# collaborative recommendation System